body {
  margin: 0;
  font-family: "Roboto";
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b2473;
  margin: 0;
  width: 100%;
  height: 100vh;
  padding-top: 82px;
}
.main__form {
  background: #ffffff;
  box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 600px;
  height: 412px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 45px 0px 45px;
}
.main__content-form-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  color: #787878;
  text-align: center;
  margin-top: 26px;
}
.input__label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #787878;
  margin-bottom: 3px;
}
.input__label_thin {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #787878;
}
.form__email {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form__password {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}
.form__input {
  background: #ffffff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 15px;
  height: 49px;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #787878;
  text-overflow: ellipsis;
}
::placeholder {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 36px;
  color: #cccccc;
}
.form__login-button {
  width: 180px;
  height: 52px;
  background: #1a226b;
  border-style: none;
  border-radius: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: 52px;
  cursor: pointer;
}
.form__checkbox {
  width: 100%;
  margin-top: 16px;
}
.form__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox-input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form__checkbox-input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  background: #ffffff;
  border: 2px solid #787878;
  box-sizing: border-box;
  border-radius: 7px;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.form__checkbox-input:checked + label::before {
  border-color: #1a226b;
  background-color: #d1d5f1;
  background-image: url(img/check.svg);
  background-size: cover;
}
