* {
  box-sizing: border-box;
}
.container {
  max-width: 1172px;
  margin: auto;
}
.header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.icons {
  margin-left: auto;
}
.search-form {
  background: transparent;
  width: 500px;
  height: 30px;
  border: 2px solid #7ac751;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 76px;
  display: flex;
  position: relative;
}
.search-button {
  background: #7ac751;
  border: none;
  border-radius: 0px 7px 6px 0px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}
.icons {
  display: flex;
  justify-content: center;
}
.shopping-basket {
  position: relative;
  width: 31px;
  height: 24px;
  margin-left: 30px;
}
.shopping-counter {
  position: absolute;
  right: 0;
  top: 0;
  background: #7ac751;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 8px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 5px;
  border-radius: 50%;
}
.notification {
  width: 31px;
  height: 24px;
  margin-left: 15px;
}
.user {
  width: 31px;
  height: 24px;
  margin-left: 10px;
}
.banner {
  background: linear-gradient(
    103.4deg,
    rgba(241, 250, 255, 0.88) 0.89%,
    #f1faff 101.61%
  );
  max-height: 400px;
  margin-top: 50px;
}
.banner-content {
  display: flex;
  padding: 50px;
}
.banner-image {
  width: 350px;
  height: 350px;
  right: 0px;
  margin-left: auto;
}

.content-title {
  color: #2f2f2f;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  width: 500px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.banner-content-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: rgba(81, 81, 81, 0.71);
}
.banner-button {
  color: white;
  background: #7ac751;
  border-style: none;
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
}
.advantage {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery {
  align-items: center;
  display: flex;
  width: 400px;
  height: 60px;
}
.delivery-title {
  display: block;
}
.delivery-image {
  height: 100%;
}
.delivery-text {
  display: flex;
  color: #555555;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 15px;
}
.delivery-text-light {
  display: flex;
  color: rgba(81, 81, 81, 0.71);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-left: 15px;
}

.gift {
  align-items: center;
  display: flex;
  width: 400px;
  height: 60px;
}
.gift-title {
  display: block;
}
.gift-image {
  height: 100%;
}
.gift-text {
  display: flex;
  color: #555555;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 15px;
}
.gift-text-light {
  display: flex;
  color: rgba(81, 81, 81, 0.71);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  margin-left: 15px;
}
.payment {
  align-items: center;
  display: flex;
  width: 400px;
  height: 60px;
}
.payment-title {
  display: block;
}
.payment-image {
  height: 100%;
}
.payment-text {
  display: flex;
  color: #555555;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 15px;
}
.payment-text-light {
  display: flex;
  color: rgba(81, 81, 81, 0.71);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-left: 15px;
}
.support {
  align-items: center;
  display: flex;
  width: 400px;
  height: 60px;
}
.support-title {
  display: block;
}
.support-image {
  height: 100%;
}
.support-text {
  display: flex;
  color: #555555;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-left: 15px;
}
.support-text-light {
  display: flex;
  color: rgba(81, 81, 81, 0.71);
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-left: 15px;
}
.offer {
  margin: 0 auto;
  margin-bottom: 200px;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.offer-title {
  text-align: center;
  margin-top: 80px;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #555555;
}
.offer-cards {
  margin-top: 50px;
  border-radius: 20px;
  max-width: 1170px;
  max-height: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.card {
  margin: auto;
}
.product-title {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.008em;
  text-transform: uppercase;
  color: rgba(117, 117, 117, 0.71);
}
.product-name {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.005em;
  color: #555555;
}
.card-footer {
  display: flex;
}
.buy-button {
  color: white;
  background: #7ac751;
  border-style: none;
  border-radius: 25px;
  padding: 8px 18px;
  display: inline-block;
  margin-left: auto;
  text-decoration: none;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.price-old {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  text-decoration-line: line-through;

  color: #cccccc;
}
.price-current {
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #7ac751;
  text-decoration: none;
}
